/* contoh selector ag di eksternal */
p{
    color: crimson;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}
body{
    background-color: azure;
    background-image: url(/gambarheader.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* bg_color : aquamarine */

}
fieldset, legend{
    border-width: 1px;
    border-color: brown;
    border-radius: 30px;

}
legend{
    padding: 10px;
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}
table{
    border: 10px;
    margin: auto;
}
td, th{
    padding: 5px;
    border: 1px solid green;
}
tr:hover{
    background-color: blue;
    color: red;
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
/* contoh selector id dapat masuk ke semua */
#paragraph {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: aqua;
}
/* id yang dikhususkan untuk tg li */
/* li#paragraph { 
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: aqua;
}*/

ul, li, a.item:link, a.item:visited, a.item:active{
    text-decoration: none;
    list-style: none;
    display: block;
    float:left;
    padding: 2px 3px;
    background-color: white;
}
